<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <form method="POST" action="/api/user/save">
        <input type="text" name="id">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" value="Entrar">
    </form>
</body>
</html>